{% extends "base.html" %}

{% block content %}
<form action="" method="post" class="pyro">
	<div class="before"></div>
    <div class="after"></div>
	{{ form.hidden_tag() }}
	<div style="
			width: 100vw;
			height: 75vh;
			background-color: white;
			flex-wrap: wrap;
			display: flex;">
		<button class="button" 
				style="
					width: 300px;
					height: 300px;
					border-radius: 50%;
					margin: auto;"
				>
			<h1 style="color: white;">
				{{ numero }}
			</h1>
		</button>
	</div>
	<div style="
			width: 100vw;
			height: 25vh;
			background-color: white;
			flex-wrap: wrap;
			display: flex;">
		<h1 style="color: white; margin: auto;">
			<input 
				id="submit" 
				name="submit" 
				type="submit" 
				value="Nuova estrazione" 
				class="button" 
				style="
					background-color: limegreen;
					width: 300px;
					height: 100px;"
			>
		</h1>
	</div>
</form>
{% endblock %}