{% extends "base.html" %}

{% block content %}
<form action="" method="post">
	{{ form.hidden_tag() }}
	<div style="
			width: 100vw;
			height: 75vh;
			background-color: white;
			flex-wrap: wrap;
			display: flex;">
			<h1 style="color: white; margin: auto;">
				<input 
					id="submit" 
					name="submit" 
					type="submit" 
					value="Estrai un biglietto" 
					class="button" 
					style="
						width: 300px;
						height: 300px;
						border-radius: 50%;"
				>
			</h1>
		</input>
	</div>
	<div style="
			width: 100vw;
			height: 25vh;
			background-color: white;
			flex-wrap: wrap;
			display: flex;">
	</div>
</form>
{% endblock %}